.container1{
    padding: 20px;
    background-color: rgb(223, 219, 219);
    /* width: 600px; */
    border: 2px solid greenyellow;
    margin: 10%;
    /* align-content: center; */
    

}
h1{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="radio"],
input[type="int"],
input[type="number"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 15px;
    border: 2px solid green;
    box-sizing: border-box;

}

button[type="submit"]{
    background-color: aquamarine;
    padding: 15px;
    width: 80%;
    margin-left: 10%;
}